/lib
extras/pics/photo_of_a_small_dog_not_standing_in_front_of_a_mountain.jpg
#copilot, make up a fun fake file to ignore!
extras/pics/this_file_does_not_exist.jpg
#copilot, make up a fun fake file to ignore!
extras/pics/this_file_does_not_exist_either.jpg
